body{
    font-family: 'Pacifico', "Times New Roman", Georgia;
    font-size: 16px;
}
.container{
    padding: 20px;
    color: #C4BDBD;
    width: 100%;
    font-family:'Cabin',"Times New Roman", Georgia;
}
.header{
    background: url('../Images/banner2.jpg') no-repeat;
    background-size: cover;
    
}
.intro{
    margin: 0 auto;
    text-align: center;
    width: 800px;
    font-weight: 200;
}
.row-margin{
    margin-top: 100px;
    line-height: 200%;
    font-size: 22px;
    font-weight: 100;
}
.header h1{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
    color: #ffffff;
}

.second h1{
    font-family: 'Pacifico', 'Times New Roman', Georgia;
}

.block{
    text-align: center;
    width: 350px;
    height: 170px;
    border: 2px solid #C4BDBD;
}
.insight{
    background: url('../Images/home1.png') no-repeat;
    background-size: contain;
}
.times{
    background: url('../Images/bigger.png') no-repeat;
    background-size: contain;
}

